[data-component='Main'] {
  width: 100%;
  z-index: 998;
  .page-section {
    width: 100%;
    height: calc(100vh - 100px);
  }
  .page-section:first-child {
    margin-top: 100px;
    .hero-video {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}
