@import '../../constants/styles/colors.scss';
@import '../../constants/styles/mixins.scss';
[data-component='Card'] {
  &.card-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .card-title {
      width: 100%;
      text-align: center;
    }
    .card-description {
      width: 100%;
      text-align: center;
    }
  }
  &.card-start-center {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    .card-title {
      width: 100%;
      text-align: center;
    }
    .card-description {
      width: 100%;
      text-align: center;
    }
  }
  width: 100%;
  height: 100%;
  background-color: color('primary');
  border-radius: 0.5rem;
  padding: 1rem;
  @include simple-shadow;
}
