@import '../../constants/styles/mixins.scss';
[data-component='Section'] {
  scroll-margin-top: 100px;
  width: 100%;
  padding: 2rem;
  background-size: cover;
  background-position: center center;
  .section-container {
    margin: auto;
  }
  @include for-mobile {
    background-image: url('../../../public/assets/background-mobile.png');
    .section-container {
      width: 100%;
    }
  }
  @include for-tablet {
    background-image: url('../../../public/assets/background.png');
    .section-container {
      width: 85%;
    }
  }
  @include for-desktop {
    .section-container {
      width: 70%;
    }
  }
}
