@import '../../constants/styles/colors.scss';
[data-component='NavbarLink'] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: max-content;
  a {
    cursor: pointer;
    transition: all 0.4s ease;
    border-radius: 1.75em/1.5em;
    color: color('primary');
    text-decoration: none;
    background-color: color('secondary');
    padding: 6px 12px;
    &:hover {
      background-color: color('primary');
      color: color('secondary');
    }
  }
}
