:root {
  --primary: #3d9db9;
  --secondary: #212529;
}

@mixin for-mobile {
  @media (max-width: 575px) {
    @content;
  }
}
@mixin for-tablet {
  @media (min-width: 576px) {
    @content;
  }
}
@mixin for-desktop {
  @media (min-width: 768px) {
    @content;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: inherit;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
